@charset "UTF-8";

.container.body{
	min-height: 800px
}

button.btn-right{
    float: right;
    margin-left: 5px;
}
.page-link{

	line-height: 16px;
	color: #343a40;
}

.page-link:hover{

	color: #343a40;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

a {
    color: #343a40;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #343a40;
    text-decoration: underline;
    background-color: transparent;
}

.form-control2 {
    width: 80px;
    float: left;
    margin-right: 2px;
    height:calc(1.5em + .75rem + 2px);
}

.select-box{
	width: 442px;
	height: calc(1.5em + .75rem + 2px);
	margin:0 auto;
}

.search-box{
	height: calc(1.5em + .75rem + 2px);
	width: 300px;
	margin-right: 2px
}
.search-btn{
	height: calc(1.5em + .75rem + 2px);
	float:right;
}
.btn{
	background-color: #343a40;
    border-color: #343a40;

	}

#btn-file-close{
	border: none;	
	background-color: transparent;
	
}

.display-none{
	display:none;
}

.label-right{
	float:right;
}

 .container3{
   width: 460px;
   margin: 0 auto;
   top: 50%;
    position: absolute;
    margin-top: -230px;
    left:0;
    right:0
 }
 A{
     text-decoration: none;
     color: black
 }
 .logo{
     margin-top: 20px;
     text-align: center;
 }
 .logo>a{
     color : #00c850;
     font-size: 50px;
     font-weight: bold;
 }
 .text-id,.text-pw,.text-name,.text-birth,.text-gender,.text-bold{
     font-family: dotum,'돋움';
     font-weight: bold;
     font-size: 14px;
 }
 .text-small{
     font-weight: 100;
     font-size: 10pt;
     color:#8e8e8e
 }
 .box-id,.box-pw,.box-name,
 .box-year,.box-month,.box-day,.box-gender,
 .box-email,.box-country,.box-certification,.box-number-in{
     border: 1px solid #dadada;
     height: 50px;
     background-color: white;
     margin-top: 10px;
     padding: 10px 10px 10px 10px;
     box-sizing: border-box;
     margin-bottom: 15px;
 }


 .box-certification{
     background-color: #f5f6f7;
 }
 

 .box-month,.box-day,.box-year{
     float: left;
     width: calc((100% - 20px) / 3);
     box-sizing: border-box;
 }

 .box-year,.box-month{
     margin-right: 10px;
 }

 .box-number-in{
     width: calc(100% - 150px - 10px);
     float: left;
 }
 .box-number::after{
     clear: both;
     content:'';
     display: block;
 }

 .box-id>input, .box-name>input{
     height: 28px;
     width: calc(100% - 100px);
     border: none;
 }
 .box-id>label{
     line-height: 28px;
     color: #8e8e8e;
 }
 .box-pw>input{
     height: 28px;
     width: calc(100% - 45px);
     border: none;
 }
 .box-pw>button{
     display: block;
     float: right;
     width: 40px;
     height: 28px;
     border: none;
     background-color:#343a40;
     color: white;
     font-size: 12px;
 }
 .box-name>input{
     width: 100%;
 }

 .box-year>input,.box-day>input, .box-month>select,.box-gender>select,.box-email>input,.box-country>select, .box-certification>input,
 .box-number-in>input{
     font-family: dotum,'돋움';
     width: 100%;
     height: 28px;
     border:none;
 }
 .btn-certification{
     color: white;
     width: 150px;
     height: 50px;
     background-color: #03c75a;
     border: none;
     display: block;
     margin-top: 10px;
     float: left;
     margin-left: 5px;
 }

 .btn-submit{
     width: 100%;
     height: 50px;
     display: block;
     background-color: #343a40;
     color: white;
     line-height: 50px;
     font-size: 16pt;
     border: none;
 }
 
 label.error{
 	font-size:12px;
 	margin-bottom: 8px;
 }

p {
   margin-bottom: 0px;
 }     
 
 
.text-center {
	text-align:center;
	line-height : 6
}

a.info:hover{
	text-decoration : none;
	color : black;
}
