@charset "UTF-8";

.container.body{
	min-height: 800px
}

button.btn-right{
    float: right;
    margin-left: 5px;
}
.page-link{

	line-height: 16px;
	color: #343a40;
}

.page-link:hover{

	color: #343a40;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

a {
    color: #343a40;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #343a40;
    text-decoration: underline;
    background-color: transparent;
}

.form-control2 {
    width: 80px;
    float: left;
    margin-right: 2px;
    height:calc(1.5em + .75rem + 2px);
}

.select-box{
	width: 442px;
	height: calc(1.5em + .75rem + 2px);
	margin:0 auto;
}

.search-box{
	height: calc(1.5em + .75rem + 2px);
	width: 300px;
	margin-right: 2px
}
.search-btn{
	height: calc(1.5em + .75rem + 2px);
	float:right;
}
.btn{
	background-color: #343a40;
    border-color: #343a40;

	}

#btn-file-close{
	border: none;	
	background-color: transparent;
	
}

.display-none{
	display:none;
}

.label-right{
	float:right;
}
