@charset "UTF-8";

body{
	font-family: "Malgun Gothic", "맑은 고딕";
}
.container.body{
	min-height: 800px
}
.page-link > i{
	line-height: 20px	
}


.input-group{
	width: 610px;
    margin: 0 auto;
    display: block;
    height : 40px
    
}

.input-group>.s-1{
	width: 100px;
	margin-right:5px;
	float:left;
	
}

.input-group>.s-2{
	width: 400px;
	margin-right:5px;
	float:left;
	
}

.input-group>.form-control{
	flex:0;
	
}


.btn-primary{	float :right} 

	
.btn-success {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    float:left;
}

.btn-success:hover {
    background-color: #007bff;
    border-color: #007bff;
}


.container.body{
	min-height: 800px
}

.page-link>.fas{
	line-height:20px
}

 body{
     background-color: #f5f6f7
 }
 .container-body{
     width: 460px;
     margin: 0 auto;
 }
 .container-body a{
     text-decoration: none;
     color: black
 }
 .logo{
     margin-top: 20px;
     text-align: center;
 }
 .logo>a{
     color : #00c850;
     font-size: 50px;
     font-weight: bold;
 }
 .text-id,.text-pw,.text-name,.text-birth,.text-gender,.text-bold{
     font-family: dotum,'돋움';
     font-weight: bold;
     font-size: 14px;
 }
 .text-small{
     font-weight: 100;
     font-size: 10pt;
     color:#8e8e8e
 }
 .box-id,.box-pw,.box-name,
 .box-year,.box-month,.box-day,.box-gender,
 .box-email,.box-country,.box-certification,.box-number-in{
     border: 1px solid #dadada;
     height: 50px;
     background-color: white;
     margin-top: 10px;
     padding: 10px 10px 10px 10px;
     box-sizing: border-box;
     margin-bottom: 15px;
 }


 .box-certification{
     background-color: #f5f6f7;
 }
 

 .box-month,.box-day,.box-year{
     float: left;
     width: calc((100% - 20px) / 3);
     box-sizing: border-box;
 }

 .box-year,.box-month{
     margin-right: 10px;
 }

 .box-number-in{
     width: calc(100% - 150px - 10px);
     float: left;
 }
 .box-number::after{
     clear: both;
     content:'';
     display: block;
 }

 .box-id>input, .box-name>input{
     height: 28px;
     width: calc(100% - 100px);
     border: none;
 }
 .box-id>label{
     line-height: 28px;
     color: #8e8e8e;
 }
 .box-pw>input{
     height: 28px;
     width: calc(100% - 45px);
     border: none;
 }
 .box-pw>a{
     display: block;
     float: right;
     width: 28px;
     height: 28px;
     border: 1px solid #03c75a;
     background-color:#03c75a;
     cursor: pointer;
 }
 .box-name>input{
     width: 100%;
 }

 .box-year>input,.box-day>input, .box-month>select,.box-gender>select,.box-email>input,.box-country>select, .box-certification>input,
 .box-number-in>input{
     font-family: dotum,'돋움';
     width: 100%;
     height: 28px;
     border:none;
 }
 .btn-certification{
     color: white;
     width: 150px;
     height: 50px;
     background-color: #03c75a;
     border: none;
     display: block;
     margin-top: 10px;
     float: left;
     margin-left: 5px;
 }

 .btn-submit{
     width: 100%;
     height: 50px;
     display: block;
     background-color: #404040;
     color: white;
     line-height: 50px;
     font-size: 16pt;
     border: none;
 }
 
 .fail-msg, .succ-msg{
 
 	font-size: 12px;
 	line-height:12px;
 	color : red;
 	margin-bottom:10px;
 }
 
 .succ-msg{
 	color : green;
 }
 
 .display-none{
 	display:none;
 }
 
 .max-small {
    width: auto; height: auto;
    max-width: 300px;
    max-height: 300px;
}
